.fancy-toolbar {
  background: linear-gradient(to right, #6A11CB, #2575FC); /* Gradient Background */
  color: white;
  transition: transform 0.3s; /* Transition for hover effect */
  opacity: 0.6;
}

.toolbar-text {
  font-size: 24px;
  font-weight: bold;
  animation: pulse 1.5s infinite alternate; /* Text pulse animation */
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes slideInFromFront {
  0% {
    transform: translateZ(-100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

